body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.form-signin {
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin {
    z-index: 2;
}